@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.square {
    width: 100px;
    height: 100px;
    border-style: groove;
    margin: 40px;
}

.left {
    margin-left: 130px;
}

.top {
    margin-top: 50px;
}

.rectangle {
    height: 135px;
    width: 290px;
    border-style: solid;
    margin-left: 80px;
    position: absolute;
    top: 93px;
}